body, html {
    height: 100%;
    font-family: "Urbanist", sans-serif;
    margin: 0;
    padding: 0;
}

.left-side {
    background: linear-gradient(360deg, #5ABA8A 0%, #238E96 46%, #044460 100%);
    color: white;
    padding-top: 24px;
    padding-left:0;
    padding-right: 0;
}

.logo,.login-content {
    padding-left: 40px;
}
.login-content{
    width: 50%;
}
.divider{
    background: #D2D2D2;
    height: 1px;
    width: 100%;
}
.carousel-indicators{
    margin-bottom: 0!important;
    margin-left:0!important;
    margin-right: 0!important;
    justify-content: left!important;
}
.carousel{
    height: 300px;
}
.carousel-inner,.carousel-item
{
    height: 100%;
}
.carousel-caption{
    text-align: left!important;
    right:0!important;
    left:0!important
}
.carousel-item{
    margin-right: 0!important;
}
.carousel-indicators [data-bs-target]{
    background-color: #53C7D5;
    opacity: 1;
    width: 8px;
    height: 8px;
    border-radius: 32px;
    border:0;
}
.carousel-indicators .active{
    background-color:rgba(255,255,255,0.5);
    width: 57px;
    border-radius: 32px
}
.right-side {
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.sign-in-form{
    width: 60%;
    margin: 0 auto;
}

.btn-outline-gray{
    border:1px solid #D2D2D2;
    border-radius: 4px;
    padding: 10px;
}

.btn-outline-gray img{
    width: 24px;
    height: 24px;
}
.sign-in-form h2 {
    color: #000;
}

.btn-outline-dark {
    border-color: #333;
    color: #333;
}

.btn-outline-dark:hover {
    background-color: #333;
    color: white;
}

.btn-success {
    background: #5ABA8A;
    border: none;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    color:#fff
}

.btn-success:hover {
    background: #16a085;
}

.btn-sign{
    background: #03565B;
    border-radius: 8px;
    color:#fff;
    width: max-content;
    margin: 0 0 0 auto;
    padding: 5px 20px;
}

.form-check-label {
    margin-left: 5px;
}

.text-decoration-none {
    color: #03565B;
}

.text-decoration-none:hover {
    color: #16a085;
}

h1, h2 {
    margin-bottom: 1rem;
}

form .mb-3, .form-check {
    margin-bottom: 1rem !important;
}

form {
    margin-bottom: 40px;
}
.form-check-input:checked {
    background-color: #5ABA8A;
    border-color: #5ABA8A;
}
.form-control:focus {
    color: #5ABA8A;
    background-color: unset;
    border-color: #5ABA8A;
    outline: 0;
    box-shadow: unset;
}
/* Dashboard */
.sidebar {
    background: linear-gradient(360deg, #5ABA8A 0%, #238E96 46%, #044460 100%);
    color: white;
    height: 100vh;
}
.sidebar .nav-link {
    color: rgba(191, 203, 212, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 32px;
   
}
.sidebar .nav-link.active svg path{
    stroke: #01565B;
}

.sidebar .nav-link:nth-last-child(2) {
    margin-bottom: 16px;
}
.sidebar .nav-link:nth-last-child(1) {
    margin-bottom: 16px;
}
.sidebar .nav-link:nth-last-child(0) {
    margin-bottom: 16px;
}

.sidebar .nav-link.active {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 26px;
    border-radius: 8px;
    position: relative;
}
.sidebar .nav-link.active .icon{
    z-index: 999;
}
.sidebar .nav-link.active span{
    position: relative;
    left: 10px;
}
.sidebar .nav-link.active::before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 62px;
    height: 45px;
    left: 0;
    left: 0;
    background-image: linear-gradient(to right, #ffffff00, #5ABA8A);
    visibility: visible;
    border-radius: 0 30px 30px 0;
    position: absolute;
    left: -11px;
    margin: 0 auto;
    z-index: 0;
}
.sidebar .sub_nav_link.active::before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 10px;
    height: 10px;
    left: 0;
    left: 0;
    background: transparent;
    visibility: visible;
    border-radius: 30px;
    position: absolute;
    left: -15px;
    margin: 0 auto;
    z-index: 0;
    background-color: #03565B;
    border: 2.5px solid #fff !important;
    top: 16px;
}
.feather-logo{
    padding: 30px 0px;
}
.dotted-gif{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    overflow: hidden;
}
.dotted-gif img{
    width: 215px;
    rotate: 90deg;
    position: absolute;
    top: -210px;
}
.sideimage{
    position: absolute;
    bottom: 0;
}
.sideimage .image_block{
    position: relative;
}
.sideimage .image_block .cloud_img{
    position: absolute;
    top: 0;
}
.sideimage .image_block .tree{
    position: absolute;
    bottom: 0;
}


.header {
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
    padding: 15px 30px;
    margin: 0 -12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header .btn-notify {
    background: #5ABA8A;
    border-radius: 16px;
    color: #495057;
    position: relative;
}
.header .btn-notify a.dropdown-toggle{
    width: 60px;
    height:60px;
}
.header .btn-notify img{
    width: 50px;
}
.header .btn-notify .bell_img{
    width: 24px;
}
.header .btn-notify .badge {
    border-radius: 32px;
    color: #000;
    position: absolute;
    background: #E1F296;
    top: -10px;
    right: -10px;
}
.dashboard-content h2.page-title{
    color: #1B1B1B;
    font-size: 32px;
    line-height: 38px;
    font-weight: 800;
}
.leftside{
    height: 100vh;
    overflow-y: auto;
}
.avg-card{
    background: #E1F296;
    color:#012527;
}
.avg-card h6{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
.avg-card h2{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}
.dot{
    top: 7px;
    right: 11px;
}
.card{
    border:1px solid #D6D5DD;
    border-radius: 16px;
}
.card-header{
    padding: 11px 17px;
}
.card-header span{
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    color:#23262F
}
.avg-card p{
    font-size: 12px;
}
.avg-card1{
    background: #71D4A2;
}
.avg-card2{
    background: #A0EBF6;
}
.card-custom {
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.card-header {
    background-color: transparent;
    border-bottom: none;
}
.card-header button {
    background-color: #03565B;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    font-size: 16px;
}
.table{
    margin-bottom: 0;
}
.table thead tr th{
    background-color: #EFF8F3;
    color:#534D59;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    padding: 14px 30px;
}
.table thead tr th:first-child{
    border-radius: 16px 0 0;
}
.table thead tr th:last-child{
border-radius: 0 16px 0 0;
}
.table tbody tr:last-child td:first-child{
    border-radius: 0 0 0 16px;
}
.table tbody tr:last-child td:last-child{
    border-radius:0 0 16px 16px;
}
.table tbody tr:last-child{
    border-bottom: 0px solid transparent;
}
.table tbody tr:last-child td{
    border-bottom: 0px solid transparent;
}
.table tbody tr td{
    font-size: 16px;
    color:#0A0A0A;
    line-height: 19px;
    padding: 14px 30px;
    background: transparent;
}
.table tbody tr td .tag {
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 32px;
    font-size: 12px;
}
.table tbody tr td .tag .dot{
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 32px;
    margin-right: 8px;
}
.table tbody tr td .success_tag{
    background: #DAFAE3;
    color: #409261;
}
.table tbody tr td .tag .success_dot{
    background-color:  #409261;
}
.table tbody tr td .pending_tag{
    background: #FFF2DD;
    color: #D98634;
}
.table tbody tr td .tag .pending_dot{
    background-color:  #D98634;
}
.table tbody tr td .error_tag{
    background: #FEE6EA;
    color: #CD0027;
}
.table tbody tr td .tag .error_dot{
    background-color:  #CD0027;
}
.table tbody tr td .action_icon a{
    color: #0A0A0A !important;
}
.badge-custom {
    padding: 8px 12px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    width: 50%;
    height: 31px;
}
.badge-success {
    background-color: #DAFAE3;
    color:#409261
}
.badge-warning {
    background-color: #FFF2DD;
    color:#D98634
}
.badge-danger {
    background-color: #FEE6EA;
    color:#CD0027
}
.approve{
    width: 7px;
    height: 7px;
    background: #409261;
    border-radius: 50px;
}
.pending{
    width: 7px;
    height: 7px;
    background: #D98634;
    border-radius: 50px;
}
.reject{
    width: 7px;
    height: 7px;
    background: #CD0027;
    border-radius: 50px;
}
.card-upload {
    border: 2px dashed rgba(203, 208, 220, 1);
    border-radius: 13px;
    text-align: center;
    padding: 100px 30px;
    margin: 20px;
}
.card-upload p {
    color: #292D32;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 15px;
}
.card-upload p.upload-grey{
    color: #A9ACB4;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
}
.card-upload button {
    background-color: #03565B;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.chart-container {
    position: relative;
    margin: auto;
    /* height: 200px; */
}
.rounded-circle {
    border: 2px solid #ffffff;
}
.welcome-text {
    font-size: 1.5rem;
    font-weight: 500;
}
.grey{
    color:#666666
}
.dropdown-toggle::after{
    display: none;
}
.dropdown-menu.show {
    box-shadow: 0px 4px 19px 9px #275F431A;
    border: 0;
    padding: 0;
    border-radius: 16px;
    overflow: hidden;
    /* --bs-dropdown-link-active-bg: #E1F296;
    --bs-dropdown-link-active-color: #03565B; */
    --bs-dropdown-link-active-bg: none;
    --bs-dropdown-link-active-color: none;
}

.dropdown-menu.show .notifiation_dropd_content{
    width: 100%;
    display: flex;
}

.dropdown-menu.show .notifiation_dropd_content .intials{
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 8px;
    
    float: left;
    margin-right: 10px;
    display: table;
    /* height: 400px; */
    overflow: hidden;
    font-weight: 600;
}
.dropdown-menu.show .notifiation_dropd_content .ac_color_1{
    color: #0F4F53;
    background: #C8EBED;
}
.dropdown-menu.show .notifiation_dropd_content .ac_color_2{
    color: #877307;
    background: #F5E79C;
}
.dropdown-menu.show .notifiation_dropd_content .ac_color_3{
    color: #490606;
    background: #EDC8C8;
}
.dropdown-menu.show .notifiation_dropd_content .intials span{
    display: table-cell;
    vertical-align: middle;
}

.dropdown-menu.show .notifiation_dropd_content .data{
    width: calc(100% - 52px);
    float: right;

}
/* .dropdown-menu.show .notifiation_dropd_content .data .date_time{
    width: 90%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */
.dropdown-menu.show .notifiation_dropd_content .data .date_time{
    font-size: 12px;
    margin-top: 8px;
    font-weight: 400x;
    color: #62626D;
}

.dropdown-item{
    border-bottom: 1px solid #E1E1E1;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 16px 16px;
    overflow: hidden;
}
.dropdown-menu li:last-child a{
    border: none !important;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 660px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
@media(max-width:1024px){
    .sign-in-form{
        width: 100%;
    }
    .login-content {
        width: 100%;
    }
}
@media(max-width:767px){
    .sign-in-form{
        width: 60%;
    }
    .login-content {
        width: 50%;
    }
}
@media(max-width:640px){
    .carousel{
        height: 200px;
    }
    .logo, .login-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .right-side{
        height: auto;
    }
    .sign-in-form{
        margin-top: 20px;
        width: 90%;
    }
    .login-content {
        width: 90%;
    }
}


#sidebarDashboards ul:before{
    content: "";
    position: absolute;
    top: -10px;
    bottom: 0px;
    left: -11px;
    border: 1px dotted rgba(191, 203, 212, 1);
   
}

.collapse_sub_nav ul{ 
    position: relative;
    left: 38px;
}

.expandable-row {
    display: none;
}

.expand-arrow {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
}
td button.show{
    transform: rotate(90deg);
}
td button{
    background: transparent;
    border: 0;
}
td button.show svg path{
    stroke: #03565B;
    fill: #03565B;
}
td button.show svg path.active{
    stroke: #fff;
}
.table tbody tr.expandable-row td{
    background: #FDFFF5;
}
.td-card{
    border: 1.45px solid #F1F1F1;
    border-radius: 13px;
    background-color: #fff;
    padding: 11px;
    margin-bottom: 27px;
}
.td-card p{
    font-size: 15px;
    color:#1B2128
}
.td-card h5{
    font-size: 20px;
    font-weight: 700;
    color:#1B2128
}
.expandable-row .col-md-2{
    width: 19.666%;
}
.table tbody tr.highlighted td{
    background: #FDFFF5;
}

.search-container .search-input{
    border: 1px solid #D8DBE2;
    border-radius: 8px 0px 0 8px;
    background: #fff;
    padding: 0 15px 0 39px;
    
}
.search-icon{
    position: absolute;
    top: 10px;
    left: 10px;
}