body, html {
    height: 100%;
    font-family: "Urbanist", sans-serif;
    margin: 0;
    padding: 0;
}

.left-side {
    background: linear-gradient(360deg, #5ABA8A 0%, #238E96 46%, #044460 100%);
    color: white;
    padding-top: 24px;
    padding-left:0;
    padding-right: 0;
}

.logo,.login-content {
    padding-left: 40px;
}
.login-content{
    width: 50%;
}
.divider{
    background: #D2D2D2;
    height: 1px;
    width: 100%;
}
.carousel-indicators{
    margin-bottom: 0!important;
    margin-left:0!important;
    margin-right: 0!important;
    justify-content: left!important;
}
.carousel{
    height: 300px;
}
.carousel-inner,.carousel-item
{
    height: 100%;
}
.carousel-caption{
    text-align: left!important;
    right:0!important;
    left:0!important
}
.carousel-item{
    margin-right: 0!important;
}
.carousel-indicators [data-bs-target]{
    background-color: #53C7D5;
    opacity: 1;
    width: 8px;
    height: 8px;
    border-radius: 32px;
    border:0;
}
.carousel-indicators .active{
    background-color:rgba(255,255,255,0.5);
    width: 57px;
    border-radius: 32px
}
.right-side {
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.sign-in-form{
    width: 60%;
    margin: 0 auto;
}

.btn-outline-gray{
    border:1px solid #D2D2D2;
    border-radius: 4px;
    padding: 10px;
}

.btn-outline-gray img{
    width: 24px;
    height: 24px;
}
.sign-in-form h2 {
    color: #000;
}

.btn-outline-dark {
    border-color: #333;
    color: #333;
}

.btn-outline-dark:hover {
    background-color: #333;
    color: white;
}

.btn-success {
    background: #5ABA8A;
    border: none;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    color:#fff
}

.btn-success:hover {
    background: #16a085;
}

.btn-sign{
    background: #03565B;
    border-radius: 8px;
    color:#fff;
    width: max-content;
    margin: 0 0 0 auto;
    padding: 5px 20px;
}

.form-check-label {
    margin-left: 5px;
}

.text-decoration-none {
    color: #03565B;
}

.text-decoration-none:hover {
    color: #16a085;
}

h1, h2 {
    margin-bottom: 1rem;
}

form .mb-3, .form-check {
    margin-bottom: 1rem !important;
}

form {
    margin-bottom: 40px;
}
.form-check-input:checked {
    background-color: #5ABA8A;
    border-color: #5ABA8A;
}
.form-control:focus {
    color: #5ABA8A;
    background-color: unset;
    border-color: #5ABA8A;
    outline: 0;
    box-shadow: unset;
}
/* Dashboard */
.sidebar {
    background: linear-gradient(360deg, #5ABA8A 0%, #238E96 46%, #044460 100%);
    color: white;
    min-height: 100vh;
}
.sidebar .nav-link {
    color: rgba(191, 203, 212, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 32px;
}
.sidebar .nav-link.active {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 26px;
    border-radius: 8px;
    position: relative;
}
.sidebar .nav-link.active .icon{
    z-index: 999;
}
.sidebar .nav-link.active span{
    position: relative;
    left: 10px;
}
.sidebar .nav-link.active::before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 62px;
    height: 45px;
    left: 0;
    left: 0;
    background-image: linear-gradient(to right, #ffffff00, #5ABA8A);
    visibility: visible;
    border-radius: 0 30px 30px 0;
    position: absolute;
    left: -11px;
    margin: 0 auto;
    z-index: 0;
}
.feather-logo{
    padding: 30px 0px;
}
.dotted-gif{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.sideimage{
    position: absolute;
    bottom: 0;
}
.header {
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
    padding: 15px 30px;
    margin: 0 -12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header .btn-notify {
    background: #5ABA8A;
    width: 60px;
    height:60px;
    border-radius: 16px;
    color: #495057;
    position: relative;
}
.header .btn-notify img{
    width: 24px;
    height:24px
}
.header .btn-notify .badge {
    border-radius: 32px;
    color: #000;
    position: absolute;
    background: #E1F296;
    top: -10px;
    right: -10px;
}
.dashboard-content h2.page-title{
    color: #1B1B1B;
    font-size: 32px;
    line-height: 38px;
    font-weight: 800;
}
.avg-card{
    background: #E1F296;
    color:#012527;
}
.avg-card h6{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
.avg-card h2{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}
.dot{
    top: 7px;
    right: 11px;
}
.card{
    border:1px solid #D6D5DD;
    border-radius: 16px;
}
.card-header{
    padding: 11px 17px;
}
.card-header span{
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    color:#23262F
}
.avg-card p{
    font-size: 12px;
}
.avg-card1{
    background: #71D4A2;
}
.avg-card2{
    background: #A0EBF6;
}
.card-custom {
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.card-header {
    background-color: transparent;
    border-bottom: none;
}
.card-header button {
    background-color: #03565B;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 16px;
}
.table thead tr th{
    background-color: #EFF8F3;
    color:#534D59;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    padding: 14px 30px;
}
.table tbody tr td{
    font-size: 16px;
    color:#0A0A0A;
    line-height: 19px;
    padding: 14px 30px;
}
.badge-custom {
    padding: 8px 12px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    width: 50%;
    height: 31px;
}
.badge-success {
    background-color: #DAFAE3;
    color:#409261
}
.badge-warning {
    background-color: #FFF2DD;
    color:#D98634
}
.badge-danger {
    background-color: #FEE6EA;
    color:#CD0027
}
.approve{
    width: 7px;
    height: 7px;
    background: #409261;
    border-radius: 50px;
}
.pending{
    width: 7px;
    height: 7px;
    background: #D98634;
    border-radius: 50px;
}
.reject{
    width: 7px;
    height: 7px;
    background: #CD0027;
    border-radius: 50px;
}
.card-upload {
    border: 2px dashed rgba(203, 208, 220, 1);
    border-radius: 13px;
    text-align: center;
    padding: 100px 30px;
    margin: 20px;
}
.card-upload p {
    color: #495057;
    font-weight: 500;
    margin-bottom: 15px;
}
.card-upload button {
    background-color: #014C82;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.chart-container {
    position: relative;
    margin: auto;
    height: 200px;
}
.rounded-circle {
    border: 2px solid #ffffff;
}
.welcome-text {
    font-size: 1.5rem;
    font-weight: 500;
}
.grey{
    color:#666666
}
@media(max-width:1024px){
    .sign-in-form{
        width: 100%;
    }
    .login-content {
        width: 100%;
    }
}
@media(max-width:767px){
    .sign-in-form{
        width: 60%;
    }
    .login-content {
        width: 50%;
    }
}
@media(max-width:640px){
    .carousel{
        height: 200px;
    }
    .logo, .login-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .right-side{
        height: auto;
    }
    .sign-in-form{
        margin-top: 20px;
        width: 90%;
    }
    .login-content {
        width: 90%;
    }
}


